/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower
// injector
// endinjector

.global-main-div {
  overflow-x: hidden;
}

.create-list-input {
  .md-chips .md-chip-input-container {
    width: 100%;
  }
}

.md-toolbar-tools {
  max-height: 100000px;
  height: auto;
  min-height: 56px;

  button {
    margin: 5px;
    padding: 5px;
    min-height: 0;
    height: auto;
    width: auto;
    min-width: 0;
  }
}

.md-headline {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
