<div layout="row" layout="center center">
  <md-content layout-padding flex layout="column" class="spisoknado-main-content">
    <h3 class="md-headline">{{listCardCtrl.listObject.title}}</h3>

    <span  ng-show="!listCardCtrl.editable">Чтобы редактировать список, необходимо авторизоваться на сайте</span><br>


    <div layout="row" layout-align="start center" ng-show="listCardCtrl.editable">
      <md-switch ng-model="listCardCtrl.showRemove" aria-label="spisoknado" class="md-warn">
        Режим удаления
      </md-switch>
      <span flex></span>
      <md-switch ng-model="listCardCtrl.listObject.is_list" aria-label="spisoknado" class="md-warn" ng-change="listCardCtrl.changeIsList()">
        Список дел
      </md-switch>
    </div>

    <div layout="row" layout-align="start top" ng-show="listCardCtrl.editable">
      <div layout="column" ng-show="!listCardCtrl.listObject.is_list">
        Сумма не купленного: {{listCardCtrl.getSumNotComplete() ? listCardCtrl.getSumNotComplete() : '0'}}  <br>
        Сумма купленного: {{listCardCtrl.getSumComplete() ? listCardCtrl.getSumComplete() : '0'}}  <br>
        Общая сумма: {{listCardCtrl.getAllSum() ? listCardCtrl.getAllSum() : '0'}}
      </div>
      <span flex></span>
      <md-menu md-position-mode="target-right target">
        <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" ng-show="!listCardCtrl.listObject.is_list">
          <md-icon >more_vert</md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item class="spisoknado-menu-item">
            <md-button ng-click="listCardCtrl.updateNotConsiderCount()">Установить новый порог<br>для игнорирования расходов</md-button>
          </md-menu-item>
          <md-menu-item class="spisoknado-menu-item">
            <md-button ng-click="listCardCtrl.setNullConsiderCount()">Обнулить порог<br>игнорирования расходов</md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>

    <div layout="column">
      <div class="item-block" ng-repeat="item in listCardCtrl.listObject.items" layout="row" ng-if="!item.value.complete" layout-align="start center">
        <md-checkbox class="checkbox-in-item" ng-model="item.value.complete" ng-show="!item.hide && listCardCtrl.editable" ng-change="listCardCtrl.updateFrontItem(item)" aria-label="spisoknado">
        </md-checkbox>

        <md-checkbox class="checkbox-in-item" ng-model="item.value.complete" ng-show="!listCardCtrl.editable" disabled aria-label="spisoknado">
        </md-checkbox>

        <!--<span class="list-item spisoknado-pointer spisoknado-list-item text-in-item" ng-show="!item.hide" ng-click="listCardCtrl.openUpdateItem(item)">{{item.value.title}}</span>-->
        <form ng-submit="listCardCtrl.updateFrontItem(item)" flex>
          <md-input-container class="spisoknado-input-container" aria-label="spisoknado">
              <textarea ng-model="item.value.title" ng-blur="listCardCtrl.updateFrontItem(item)" aria-label="spisoknado" class="input-title"></textarea>
             <!-- <input ng-model="item.value.title" id="item{{item.key}}" ng-blur="listCardCtrl.updateFrontItem(item)" md-autofocus aria-label="spisoknado">-->
          </md-input-container>
          <md-button class="md-raised md-primary spisoknado-hide" type="submit" aria-label="spisoknado"></md-button>
        </form>
        <span flex="5"></span>
        <md-input-container class="spisoknado-input-container spisoknado-input-container-short" flex="10" aria-label="spisoknado" ng-show="listCardCtrl.editable && !listCardCtrl.showRemove && !listCardCtrl.listObject.is_list">
            <input ng-model="item.value.weight" id="item-weight-{{item.key}}" type="number" pattern="\d*" min="0" ng-blur="listCardCtrl.updateFrontItem(item)" aria-label="spisoknado">
        </md-input-container>
        <md-input-container class="spisoknado-input-container spisoknado-input-container-short spisoknado-input-container-short-count" flex="10" aria-label="spisoknado" ng-show="listCardCtrl.editable && !listCardCtrl.showRemove && !listCardCtrl.listObject.is_list">
            <md-select ng-model="item.value.count" ng-blur="listCardCtrl.updateFrontItem(item)" aria-label="spisoknado">
                <md-option ng-value="item" ng-repeat="item in listCardCtrl.countMas">{{ item }}</md-option>
            </md-select>
        </md-input-container>


        <span class="list-item spisoknado-list-item text-in-item" ng-show="!listCardCtrl.editable && !listCardCtrl.showRemove">{{item.value.weight}} * {{item.value.count}} = {{item.value.weight * item.value.count}}</span>

        <md-button class="md-icon-button md-icon-button-delete" ng-click="listCardCtrl.removeItem(item.key)" ng-show="listCardCtrl.showRemove">
          <md-tooltip>Удалить</md-tooltip>
          <md-icon>delete_forever</md-icon>
        </md-button>
      </div>
    </div>

    <form ng-submit="listCardCtrl.addItem()" name="formCreate" ng-show="listCardCtrl.editable">
        <section class="md-dialog-content">
                <section layout="row" flex>
                    <md-input-container flex aria-label="spisoknado">
                        <label>Новый пункт</label>
                        <input ng-model="listCardCtrl.newItem" aria-label="spisoknado">
                    </md-input-container>
                    <md-button class="md-raised md-primary spisoknado-hide" type="submit" aria-label="spisoknado">
                      Добавить
                    </md-button>
                </section>
        </section>
    </form>

    <div layout="column" ng-if="listCardCtrl.editable && !listCardCtrl.listObject.is_list">
      Сумма не купленного: {{listCardCtrl.getSumNotComplete() ? listCardCtrl.getSumNotComplete() : '0'}}  <br>
      Сумма купленного: {{listCardCtrl.getSumComplete() ? listCardCtrl.getSumComplete() : '0'}}  <br>
      Общая сумма: {{listCardCtrl.getAllSum() ? listCardCtrl.getAllSum() : '0'}}
    </div>

    <div layout="column">
      <div ng-repeat="item in listCardCtrl.listObject.items" layout="row" ng-if="item.value.complete">

        <md-checkbox class="checkbox-in-item" ng-model="item.value.complete" ng-change="listCardCtrl.updateFrontItem(item)" aria-label="spisoknado" ng-show="listCardCtrl.editable"></md-checkbox>
        <md-checkbox class="checkbox-in-item" ng-model="item.value.complete" disabled aria-label="spisoknado" ng-show="!listCardCtrl.editable"></md-checkbox>
        <span class="list-item spisoknado-pointer spisoknado-list-item">{{item.value.title}}</span>
        <span flex></span>
        <span ng-show="!listCardCtrl.listObject.is_list">{{item.value.weight}} * {{item.value.count}} = {{item.value.weight * item.value.count}}</span>
      </div>
    </div>

  </md-content>
</div>
