
<md-card class="admin-card" layout="column">
  <md-card-content layout="column" layout-align="space-between">
  <div layout="row" layout-wrap>
    <div layout="row" flex="100">
      <div class="md-headline" flex="45" layout="row" layout-align="start center">Мои списки</div>
      <span flex="10"></span>
      <div class="md-headline" flex="45" layout="row" layout-align="end center">Доступные списки</div>
    </div>
    <div layout="row" flex="45">
      <div layout="column" flex="100">
        <div layout="column" layout-align="space-between">
            <table class="table table-hover clickable no-padding table-text-align-top">
              <tr ng-click="lists.goToList(list)" class="md-body-2" ng-repeat="list in lists.myLists" >
                <td layout="row" layout-align="start center"><span>{{list.title}}</span>
                  <span flex></span>
                  <md-menu>
                    <md-button class="md-icon-button menu-button" ng-click="$mdOpenMenu($event)">
                      <md-icon>more_vert</md-icon>
                    </md-button>
                    <md-menu-content width="4">
                      <md-menu-item>
                        <md-button ng-click="lists.openModalEdit(list)">
                          <md-icon>edit</md-icon>
                          Редактировать
                        </md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button ng-click="lists.removeList(list)">
                          <md-icon>delete</md-icon>
                          Удалить
                        </md-button>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
                </td>
              </tr>
            </table>
          </div>
      </div>
    </div>
    <span flex="10"></span>
    <div layout="row" flex="45">
      <div layout="column" flex="100">
        <div layout="column" layout-align="space-between">
            <table class="table table-hover clickable no-padding table-text-align-top">
              <tr ng-click="lists.goToList(list)" class="md-body-2" ng-repeat="list in lists.myShareLists" >
                <td>{{list.title}}</td>
              </tr>
            </table>
          </div>
      </div>
    </div>
  </div>
  </md-card-content>
</md-card>


