<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools" layout="row" layout-wrap>
    <span flex></span>
    <md-button class="md-raised" ng-click="mainCtrl.login()" ng-show="!mainCtrl.user" aria-label="spisoknado">
      Войти
    </md-button>
    <md-button class="md-raised" ng-click="mainCtrl.myList()" ng-show="mainCtrl.user" aria-label="spisoknado">
      <md-icon>list</md-icon>
    </md-button>
    <md-button class="md-raised" ng-click="mainCtrl.createList()" ng-show="mainCtrl.user" aria-label="spisoknado">
      <md-icon>add</md-icon>
    </md-button>
    <md-button class="md-raised" ng-click="mainCtrl.myFriends()" ng-show="mainCtrl.user" aria-label="spisoknado">
      <md-icon>group</md-icon>
    </md-button>
    <!--user drop-down-->
    <md-menu>
      <md-button ng-click="$mdOpenMenu($event)" ng-show="mainCtrl.user" aria-label="spisoknado">
        {{mainCtrl.user.email}}
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button ng-click="mainCtrl.logout()" aria-label="spisoknado">
            Exit
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>
<div flex layout="row">
  <md-content flex>
    <ui-view flex></ui-view>
  </md-content>
</div>

<ch-spinner show="mainCtrl.showSpinner"></ch-spinner>
