.table {
  width: 100%;
  tr {
    cursor: pointer;

    &:hover {
      background-color: $table-bg-hover;
    }
  }
}

.list-item {
  line-height: 40px;
}

.spisoknado-hide {
  display: none;
}

.spisoknado-pointer {
  cursor: pointer;
}

.spisoknado-input-container {
  margin: 0;
  padding: 0 0 5px 0;
  height: auto;
  width: 100%;

  .md-input.input-title {
    border-width: 0;
    line-height: 17px;
    padding-top: 5px;
  }

  .md-errors-spacer {
    min-height: 0;
  }
}

md-input-container.spisoknado-input-container-short {
  min-width: 40px;
  margin: 0 4px;
}

md-input-container.spisoknado-input-container-short-count {
  min-width: 0;
  width: 20px;

  md-select {
    width: 55px;

    md-select-value {
      min-width: 20px;
    }
  }
}

.spisoknado-list-item {
  line-height: 20px;
  margin-bottom: 10px;
}

.spisoknado-main-content {
  max-width: 600px;
}
.item-block {
  margin-bottom: 5px;
  padding: 0 10px 0 0;

  &:hover {
    background: #dfdfdf;
  }

  span.text-in-item {
    margin-bottom: 4px;
  }
  div.text-in-item {
    margin: 0 10px 4px 0;
  }
}

md-menu-item.spisoknado-menu-item {
  height: auto;

  button {
    line-height: inherit;
  }
}
md-checkbox.checkbox-in-item {
  margin: 0 0 4px 0;
}

.md-button.md-icon-button.md-icon-button-delete {
  width: 24px;
  max-height: 24px;
  min-height: 24px;
  padding: 0;
  margin: 0;
}

.md-button.md-icon-button.md-icon-button-consider {
  width: 24px;
  max-height: 24px;
  min-height: 24px;
  padding: 0;
  margin: 0 20px;
}

.margin-level {

  width: 0px;

  &__1 {
    width: 5%;
  }

  &__2 {
    width: 10%;
  }

  &__3 {
    width: 15%;
  }

  &__4 {
    width: 20%;
  }

  &__5 {
    width: 25%;
  }

  &__6 {
    width: 30%;
  }

  &__7 {
    width: 35%;
  }

  &__8 {
    width: 40%;
  }

  &__9 {
    width: 45%;
  }

  &__10 {
    width: 50%;
  }
}

span.not-consider-span {
  font-weight: 600;
  margin: 20px 0;
}
