.table {

  tr {
    cursor: pointer;

    &:hover {
      background-color: $table-bg-hover;
    }

    md-menu md-icon {
      display: none;
    }

    &:hover {
      md-menu md-icon {
        display: block;
      }
    }
  }
}

.list-item {
  line-height: 40px;
}

.spisoknado-hide {
  display: none;
}

.spisoknado-pointer {
  cursor: pointer;
}

.spisoknado-input-container {
  margin: 0;
  padding: 0;
  height: auto;

  .md-errors-spacer {
    min-height: 0;
  }
}

md-input-container.spisoknado-input-container-short {
  min-width: 40px;
  margin: 0 4px;
}

md-input-container.spisoknado-input-container-short-count {
  min-width: 0;
  width: 20px;

  md-select {
    width: 55px;

    md-select-value {
      min-width: 20px;
    }
  }
}

.spisoknado-list-item {
  line-height: 20px;
  margin-bottom: 10px;
}

.spisoknado-main-content {
  max-width: 600px;
}
.item-block {
  margin-bottom: 5px;
  padding: 0 10px 0 0;

  md-checkbox.checkbox-in-item {
    margin-bottom: 4px;
  }

  span.text-in-item {
    margin-bottom: 4px;
  }
}
