.table {

  tr {
    cursor: pointer;

    &:hover {
      background-color: $table-bg-hover;
    }
  }
}

.list-item {
  line-height: 40px;
}

.spisoknado-hide {
  display: none;
}

.spisoknado-pointer {
  cursor: pointer;
}

.spisoknado-input-container {
  margin: 0;
  padding: 0;
  height: auto;

  .md-errors-spacer {
    min-height: 0;
  }
}

.spisoknado-input-container-short {
  min-width: 40px;
  margin: 0 2px;
}

.spisoknado-list-item {
  line-height: 20px;
  margin-bottom: 10px;
}

.spisoknado-main-content {
  max-width: 600px;
}
.item-block {
  margin-bottom: 5px;
  padding: 0 10px 0 0;

  md-checkbox.checkbox-in-item {
    margin-bottom: 4px;
  }

  span.text-in-item {
    margin-bottom: 4px;
  }
}
